.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.search-not-found {
  width: 500px;
  height: 409px;
}
.search-not-found {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  width: 256px;
  height: 48px;
}
.search-heading {
  font-size: 30px;
}
